<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    {{ partial "mobile_nav_toggle.html" . }}
    {{ $paginator := .Paginate (where .Pages "Type" "portfolio") }}
    <div class="row text-right">
        {{ template "_internal/pagination.html" . }}
    </div>

    <div class="grid">
      <div id='resizable-content'>
        <div class="row">
          {{ range $paginator.Pages }}
              <div class="{{ .Site.Params.masonryColumns }} masonry-item">
                  {{ if isset .Params "instagram" }}
                  <div class="box-masonry">
                    {{ .Params.instagram | safeHTML }}
                  </div>
                  {{ else }}
                  <div class="box-masonry">
                      {{ if and (isset .Params "image") .Params.image }}
                        {{ if eq .Params.showonlyimage true }}
                        <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
                        {{ else }}
                        <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                        {{ end }}
                            <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
                        </a>
                      {{ end }}
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
                          <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                          <div class="box-masonry-description">
                            <p>
                                {{ if .Description }}
                                  {{ .Description }}
                                {{ else }}
                                  {{ .Summary }}
                                {{ end }}
                            </p>
                          </div>
                      </div>
                  </div>
                  {{ end }}
              </div>
          {{ end }}
        </div>
        </div>
      </div>
    </div>
    <div class="row text-right">
        {{ template "_internal/pagination.html" . }}
    </div>
</div>

<script>
    console.log('super ricky');

    let timer;
    var targetNode = document.getElementById('resizable-content');
    var config = { attributes: true, childList: true, subtree: true };

    var callback = function(mutationsList, observer) {
      if (timer) clearTimeout(timer);
      timer = setTimeout(() => {
        for(var mutation of mutationsList) {
          // console.log('Fire Masonry');
          // Instagram will be resizing the dom elements and firing off lots of mutation events
          // One second after the last mutation, we should run masonry to update the page layout
          masonry();
        };
      }, 1000);
    };

    // Create an observer instance linked to the callback function
    var observer = new MutationObserver(callback);

    // Start observing the target node for configured mutations
    observer.observe(targetNode, config);

</script>