<div class="col-xs-12 col-sm-8 col-md-9 content-column">
  {{ partial "mobile_nav_toggle.html" . }}
  {{ $paginator := .Paginate (where .Pages "Type" "portfolio") }}
  <div class="row text-right">
      {{ template "_internal/pagination.html" . }}
  </div>

  <div class="grid">
    <div id='resizable-content'>
      <div class="row">
        {{ range $paginator.Pages }}
        {{$panelType := .Params.panelType | default "default" }}


        <div class="{{ .Site.Params.masonryColumns }} masonry-item">

            {{ if eq $panelType "instagram" }}
            {{ partial "portfolio-panel-instagram.html" . }}
            {{ else if eq $panelType "youtube" }}
            {{ partial "portfolio-panel-youtube.html" . }}
            {{ else }}
            {{ partial "portfolio-panel-default.html" . }}
            {{ end }}
                            
        </div>
        {{ end }}
      </div>
      </div>
    </div>
  </div>
  <div class="row text-right">
      {{ template "_internal/pagination.html" . }}
  </div>
</div>

<script>
  let timer;
  var targetNode = document.getElementById('resizable-content');
  var config = { attributes: true, childList: true, subtree: true };

  var callback = function(mutationsList, observer) {
    if (timer) clearTimeout(timer);
    timer = setTimeout(() => {
      for(var mutation of mutationsList) {
        // console.log('Fire Masonry');
        // Instagram will be resizing the dom elements and firing off lots of mutation events
        // One second after the last mutation, we should run masonry to update the page layout
        masonry();
      };
    }, 1000);
  };

  // Create an observer instance linked to the callback function
  var observer = new MutationObserver(callback);

  // Start observing the target node for configured mutations
  observer.observe(targetNode, config);

</script>
